/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #333;
}

body {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */

 .logo-nav {
  width: 20%;
  float: left;
}
.logo-form {
    width: 20%;
  }

 nav.nav.nav-masthead.justify-content-center {
  float: right;
  margin-top: 12px;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 20px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #f29105;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
    color: #000;
    border-bottom: .30rem solid #f29105;
  }

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    padding-left: 70px;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* ====== MENU ===== */

.menu {
    background: #fff;
    padding: 10px 0;
    border-bottom: 5px solid #f29105;
    border-top: 5px solid #f29105;
    height: 105px;
}


/* ====== FOOTER =====*/

#footer {
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
    color: #000;
    border-bottom: 5px solid #f29105;
    border-top: 5px solid #f29105;
}

#footer img {
  width: 70%;
}

.logo-footer h4 {
  margin-top: 15px;
}

.copyright {
  margin-top: 40px;
}

/* ======= SECTIONS ========*/

#first {
  padding: 84px 0;
}

.register-form {
  background: #f8f9fa;
  color: #000;
  border-radius: 15px;
}

/*=========  REGISTER PAGE ========= */

.form-group.row {
  padding: 0 35px;
}
.form-title {
  text-align: center;
}

.form-title img {
  width: 20%;
  text-align: center;
}

.form-title h3 {
  text-align: center;
}

/*========= LOGIN ========*/

.login-form {
  background: #f8f9fa;
  color: #000;
  border-radius: 15px;
  padding: 40px;
}

.lgn-facebook {
    background-color: #4267B2;
    color: #fff;
}
.lgn-facebook:hover {
  border-color: #000;
  color: #fff;
}

.enter-btn {
  background: orange;
  color: #fff;
}
.enter-btn:hover{
  border-color: #000;
  color: #fff;
}

/* ======= DASHBOARD ======= */

.perfil-img img {
    border-radius: 50%;
    width: 100%;
}
.container.dash-pg {
  padding: 50px 0;
}
.btn-att {
  background: orange;
  padding: 5px 20px;
  border-radius: 5px;
  border: #000 1px solid;
  color: #fff;
}
.curriculo {
  background: #fff;
  color: #000;
  padding: 25px;
}
.perfil-img {
  background: #fff;
  padding: 30px 20px;
  color: #000;
  border-radius: 5px;
}
.dash-contact {
  background: #fff;
  color: #000;
  padding: 30px 20px;
}
.tec-dash {
    background: #fff;
    color: #000;
    border-radius: 5px;
    padding: 30px 20px;
  }
  .col-md-12.courses {
    background: #fff;
    border-radius: 5px;
    color: #000;
    padding: 40px 25px;
}
i.fa.fa-plus.edit-courses {
    color: #ffa500;
    font-size: 40px;
    cursor: pointer;
}
.col-md-12.conhecimentos {
    background: #fff;
    color: #000;
    border-radius: 5px;
    padding: 20px;
}
.edit-con {
    float: right;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
}
.btn-modal {
    float: right;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #000;
}
.tec-form {
    color: #000;
}
.modal-img img {
    border-radius: 50%;
    width: 20%;
}

@media (min-width: 900px) {
  i.fa.fa-pencil.edit-dp {
    float: right;
    margin-top: 25px;
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
    }
    i.fa.fa-pencil.edit-cont {
        float: right;
        margin-top: -30px;
        font-size: 25px;
        margin-right: 25px;
        cursor: pointer;
    }
    i.fa.fa-pencil.edit-add {
        float: right;
        font-size: 25px;
        margin-top: -40px;
        cursor: pointer;
    }
    .dash-contact {
        background: #fff;
        color: #000;
        padding: 30px 20px;
        border: 1px solid #ddd;
        margin-bottom: -30px;
        margin-left: -5px;
    }
    .curriculo {
        background: #fff;
        color: #000;
        padding: 30px 20px;
        border: 1px solid #ddd;
        margin-bottom: -30px;
        border-right: 1px solid #fff;
    }
    .col-md-8.perfil-img {
       height: 100%;
    }
    .delete-icon {
        color: #000;
        margin-top: 15px;
    }
    .delete-icon:hover {
        color: red;
    }
    .delete-icon-i {
        color: #000;
    }
    .delete-icon-i:hover {
        color: red;
    }
    .hover-tec:hover {
        border: 1px solid;
    }
    .hover-tec {
        padding: 15px 0 0 0px;
        border-radius: 5px;
    }
}
    .btn-senha {
        background: #ffa500;
        color: #fff !important;
        padding: 5px 20px;
        margin-left: 15px;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-senha:hover {
        background: #000;
        color: #fff !important;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .lgn-google:hover {
        border: 1px solid;
    }
    .lgn-google {
        background: #d74937;
        color: #fff;
    }

/*===== FREELAS =====*/

.perfil-list img {
  width: 50%;
  border-radius: 50%;
}

.display-none {
    display: none;
}
.displaytrue {
    display: block;
    width: 100%;
}
.modal-content-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
a.btn-add-tel {
    background: #ffa500;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
a.btn-add-tel:hover {
    background: #084357;
    color: #fff;
}

.delete-cont {
    color: #000;
}
.delete-cont:hover {
    color: red;
}

i.fa.fa-linkedin {
    background: #0e76a8;
    padding: 5px;
    border-radius: 5px;
}
i.fa.fa-github {
    background: #000;
    padding: 5px;
    border-radius: 5px;
}
i.fa.fa-envelope {
    color: #fff;
    padding: 5px;
    background: #ffa500;
    border-radius: 5px;
}
.address-div {
    padding: 0px 0px 20px 10px;
}
.address-div:hover {
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 0px 20px 10px;
}
a.btn-add-address {
    background: #bf0c0c;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
a.btn-add-address:hover {
    background: red;
    color: #fff;
}
a.add-address-btn {
    background: #ffa500;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
a.add-address-btn:hover {
    background: #0e76a8;
    color: #fff;
}

/* MENU MOBILE */

.dropmob {
  background-color: #fff;
  color: #000;
  font-size: 30px;
  border: none;
}

.dropdownmob {
  position: relative;
}

.dropdownmob-mobile {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdownmob-mobile a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdownmob-mobile a:hover {background-color: #ddd;}

.dropdownmob:hover .dropdownmob-mobile {display: block;}

.dropdownmob:hover .dropmob {
  background-color: #fff;
}
.col-md-12.home-text {
  text-align: center;
}
.home-text h1 {
  color: #f29105;
}

@media screen and (min-width: 768px) {
  .col-md-12.home-text {
      padding: 0 100px;
  }
   .dropdownmob {
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 350px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
       margin-left: -150px;
   }
  }
  @media screen and (max-width: 767px) {
    .home-text h4 {
      font-size: 22px;
      padding-left: 0;
    }
    .home-text h1 {
      font-size: 26px;
    }
    nav.nav.nav-masthead.justify-content-center {
      display: none;
    }
    .logo-nav {
      float: unset;
      width: 60%;
    }
    .menu {
      padding: 15px 0;
      height: 150px;
    }
    #first {
      padding: unset;
    }
    .perfil-img h3, h4 {
      padding-left: 20px;
    }
    .perfil-img strong {
      padding-left: 15px;
    }
    .fa-trash {
      color: #000;
    }
    i.fa.fa-pencil.edit-dp {
      font-size: 30px;
  }
  .container.dash-pg {
    padding: 50px 0;
    text-align: center;
  }
}
@media screen and (min-width: 1920px){
  #footer {
    margin-top: 17%;
  }
}
.col-md-4.perfil-list {
  background: #fff;
  margin: 0 5px;
  border-radius: 10px;
  padding: 15px;
  color: #000;
  text-align: center;
  border: 2px solid #f88600;
}

.col-md-3.filter {
  background: #fff;
  color: #000;
}

.filter_input {
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.contact-btn a {
  background: #f29105;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.img-freela img {
  border-radius: 50%;
}

.col-md-3.filter {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    color: #000;
    text-align: center;
    border: 2px solid #f88600;
    height: 100%;
}

.input-filter {
    padding: 0px 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid;
}

.mt-4.btn.btn-warning {
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.btn.btn-danger.mt-4 {
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;  
}

.col-md-12.empdiv {
    background: #fff;
    color: #000;
    border-radius: 10px;
    border: 5px solid #fa8700;
}

.sepf {
    border-left: 2px solid #fa870026;
    padding: 35px 25px;
}
.sep {
    padding: 25px 25px;
}